{%load static%}
<div id="slide4" class="slide header">
    <h1>Contact</h1>
    <div id="links" class="d-flex justify-content-center my-5 ">
        <a class="animatedIcon mx-5 p-2" href="https://www.linkedin.com/in/chrisolayadev/" target="_blank"><img class="icons mx-2 animatedIcon" src="{% static 'portfolio/linkeid.svg' %}" alt="Linkeid"></a>
        <a class="animatedIcon mx-5 p-2" href="https://github.com/olayita15" target="_blank"><img class="icons mx-2 animatedIcon" src="{% static 'portfolio/github.svg' %}" alt="Github"></a>
    </div>
</div>