<div class="flip mh-100">
    <div class="front" style="background-image: url({{project.image.url}})">
        <h1 class="text-shadow">{{project.title}}</h1>
    </div>
    <div class="back">
        <h2>{{project.title}}</h2>
        <p class="h1">{{project.description}}</p>
        <div class="d-flex flex-row justify-content-around mt-5">
            <a href="{{project.url_deploy}}" target="_blank" class="btn btn-dark animatedIcon">DEMO </a>
            <a href="{{project.url_git}}" target="_blank" class="btn btn-dark animatedIcon">GITHUB</a>
        </div>
    </div>
</div>
